.home{
  max-width: 1050px;
  width: 100%;
}
.home__card-list{
  display: flex;
  align-items: center;
  padding-bottom: 80px;
}
.home__popilar{
  display: flex;
  align-items: center;
}
.home__tags{
  display: flex;
  align-items: center;
}